@model AmbermoonServer.Templates.CodeRequestEmailModel

<!DOCTYPE html>
<html>
<body>
    <h1>Account code request</h1>
    <p>The code for your account was requested. If you didn't do this, just ignore this email.</p>
    <p>Otherwise please click the following link and we will send you the code.</p>
    <p><a href="@Model.RequestCodeUrl">Request email with code</a></p>
</body>
</html>
