<!DOCTYPE html>
<html>
<body>
    <h1>Verification</h1>
    <p>If you registered before, the verification will now proceed and an email will be sent to you. You can now close this window.</p>
</body>
</html>
