<!DOCTYPE html>
<html>
<body>
    <h1>Verification token expired</h1>
    <p>Verification tokens are only valid for 15 minutes. After that the account is deleted. You have to register again to obtain a new token.</p>
</body>
</html>
